{% extends 'base.html.twig' %}


{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1 align="center">Liste des Catégories</h1>

    <table width="50%">
        <tr>
            <th>Id</th>
            <th>Nom</th>
        </tr>
    {% for category in categorys %}
        <tr>
        <td>{{ category.id }}</td>
        <td>{{ category.nom }}</td>
        </tr>
    {% endfor %}
    </table>

</div>
{% endblock %}
