{% extends'base.html.twig' %}
{% block body %}
    <a href="/acteur/">Liste des acteurs</a>

    {#<table>#}
        <caption><h1>Ajouter un Acteur</h1></caption>
        {#<tr>#}
            {#<td>{{ form_label(form.nom) }}</td>#}
            {#<td>{{ form_widget(form.nom) }}#}
                {#{{ form_errors(form.nom) }}#}
            {#</td>#}
        {#</tr>#}
        {#<tr>#}
            {#<td>{{ form_label(form.prenom) }}</td>#}
            {#<td>{{ form_widget(form.prenom) }}#}
                {#{{ form_errors(form.prenom) }}#}
            {#</td>#}
        {#</tr>#}
        {#<tr>#}
            {#<td>{{ form_label(form.sexe) }}</td>#}
            {#<td>{{ form_widget(form.sexe) }}#}
                {#{{ form_errors(form.sexe) }}#}
            {#</td>#}
        {#</tr>#}
        {#<tr>#}
            {#<td>{{ form_label(form.save) }}</td>#}
            {#<td>{{ form_widget(form.save) }}</td>#}
        {#</tr>#}
    {#</table>#}
 <table>

            {{ form_start(form) }}
           {{ form_widget(form) }}
            {{ form_end(form) }}

 </table>
{% endblock %}