{% extends 'base.html.twig' %}

{% block body %}
<table width="60%">
    <caption><h1>Liste des Acteur</h1></caption>
    <thead>
        <tr align="left">
            <th>Nom</th>
            <th>Prénom</th>
            <th>Sexe</th>
            <th>Action</th>
        </tr>
    </thead>
   {% for acteur in acteurs %}
        <tr>
            <td>{{ acteur.nom }}</td>
            <td>{{ acteur.prenom }}</td>
            <td>{{ acteur.sexe }}</td>
            <td>
                <ul>
                    <li><a href="/acteur/modif/{{ acteur.id}}">Modifier</a></li>
                    <li><a href="/acteur/supp/{{ acteur.id}}">Supprimer</a></li>
                </ul>
            </td>
        </tr>
    {% endfor %}
</table>
    <a href="/acteur/ajout/">Ajouter un nouvel acteur</a>
    {% endblock %}
